<div class="container" id ="main-container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="main-nav">
        <a class="navbar-brand" href="#">Cook-Ease</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mx-auto">
            <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/cms">Post</a>
            <a class="nav-item nav-link" href="/api/recipes">Api</a>
        </div>
        </div>
    </nav>
    
    <div id="carousel-head" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                <img class="d-block w-100" src="images/foodone.jpg" alt="First slide" id="tone">
                </div>
                <div class="carousel-item">
                <img class="d-block w-100" src="images/foodtwo.jpg" alt="Second slide" id="tone">
                </div>
                <div class="carousel-item">
                <img class="d-block w-100" src="images/foodthree.jpg" alt="Third slide" id="tone">
                </div>
            </div>
            
            <div class="carousel-caption">
                <div class="col-lg-10" style="float:none; margin:0 auto;">
                    <h1 class="title">Cook-Ease</h1>
                </div>
                
            </div>
    </div>
    <br>
</div>
    
<div class="container" id="secondary-container">
    <section id ="recipe-sec">
        <h1 style="text-align:center;">Put in Your Own Creation!</h1>
        <hr>
        <div class="active-pink-3 active-pink-4 mb-4">
            <form>
                <div class="form-row">
                    <div class="col">
                        <label for="contributor">Contributor Name</label>
                        <input type="text" class="form-control" id ="contributor">
                    </div>
                    <div class="col">
                        <label for="recpie">Recpie Name</label>
                        <input type="text" class="form-control" id ="recipe">
                    </div>
                </div>
                <div class="form-group">
                    <label for="ingredients">Ingredients</label>
                    <textarea class="form-control" id="ingredients" rows="6"></textarea>
                </div>
                <div class="form-group">
                    <label for="instructions">Instructions</label>
                    <textarea class="form-control" id="instructions" rows="6"></textarea>
                </div>
            </form>
            <button type="button"  id= "buttonF" class="btn btn-danger"><a href="/" style="text-decoration: none; color:white;">Submit</a></button>
        </div>
        <br>
    </section>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
<script type="text/javascript" src="js/recipes.js">


</script>